:root {
    /* COLORS (T1) */
    --txt-white: #fff;
    --txt-gray: #777;

    --bg-green: #393;
    --bg-amber: rgb(211, 135, 35);
    --bg-mid-gray: #999;

    /* THEME (T2) */
    --txt-color-light: var(--txt-white);

    /* SEMANTIC USES (T3) */
    --txt-muted: var(--txt-gray);

    --bg-chip-default: var(--bg-mid-gray);
    --txt-chip-default: var(--txt-color-light);

    --bg-chip-read: var(--bg-amber);
    --bg-chip-note: var(--bg-green);
}

.muted-text {
    color: var(--txt-muted);
}

.chip {
    background-color: var(--bg-mid-gray);
    border-radius: 6px;
    color: var(--txt-chip-default);
    font-size: .7rem;
    font-weight: 700;
    padding: .2rem .3rem;
    position: relative;
    text-transform: uppercase;
    user-select: none;
    white-space: nowrap;
}

.note {
    background-color: var(--bg-chip-note);
}

.read {
    background-color: var(--bg-chip-read);
}