:root {
    /* COLORS (T1) */
    --txt-white: #fff;
    --txt-gray: #777;
    --txt-black: #000;


    --bg-amber: #c82;
    --bg-blue: #339;
    --bg-green: #393;
    --bg-light-green: #8c2;
    --bg-light-blue: #28c;
    --bg-pink: #c28;
    --bg-purple: #82c;
    --bg-strawberry: #933;
    --bg-teal: #2c8;

    --bg-mid-gray: #999;

    /* SEMANTIC USES (T2) */
    --txt-muted: var(--txt-gray);

    --bg-chip-default: var(--bg-mid-gray);
    --txt-chip-default: var(--txt-white);
    --txt-chip-inverted: var(--txt-black);

    --bg-chip-read: var(--bg-amber);
    --bg-chip-note: var(--bg-green);

    --bg-chip-ready: var(--bg-green);
    --bg-chip-not-ready: var(--bg-strawberry);
    --bg-chip-to-review: var(--bg-amber);
    --bg-chip-done: var(--bg-light-blue);
}

.muted-text {
    color: var(--txt-muted);
}

.chip {
    background-color: var(--bg-mid-gray);
    border-radius: 6px;
    color: var(--txt-chip-default);
    font-size: .7rem;
    font-weight: 700;
    padding: .2rem .3rem;
    position: relative;
    text-transform: uppercase;
    user-select: none;
    white-space: nowrap;
}

.chip.note,
.chip.notes {
    background-color: var(--bg-chip-note);
}

.chip.read {
    background-color: var(--bg-chip-read);
}

.chip.toread,
.chip.to-read {
    background-color: var(--bg-light-blue);
}

.chip.ready {
    background-color: var(--bg-chip-ready);
}

.chip.not-ready {
    background-color: var(--bg-chip-not-ready);
}

.chip.to-review {
    background-color: var(--bg-chip-to-review);
}

.chip.done {
    background-color: var(--bg-chip-done);
    color: var(--txt-chip-inverted);
}